#mainNavbar {
  font-size: 1.6em;
}

#mainNavbar li {
  line-height: 64px;
}

/* This gets Google to fall into place */
#social-share {
  font-size: 1px;
}
 
/* This gets Facebook to fall into place */
#social-share iframe {
  vertical-align: middle;
    
}
.fb-share-button{
  margin-top: 40px;
  margin-right:10px;
}
