#mainNavbar {
  font-size: 1.4em;
}

#mainNavbar li {
  line-height: 48px;
}

#mainNavbar .languages a {
  display: inline;
}

/* This gets Facebook to fall into place */
#social-share iframe {
  vertical-align: middle;
    
}
.fb-share-button{
  margin-right:10px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/kauno_rotuse.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
