#mainNavbar {
  font-size: 1.4em;
}

#mainNavbar li {
  line-height: 48px;
}

#mainNavbar .languages a {
  display: inline;
}

/* This gets Facebook to fall into place */
#social-share iframe {
  vertical-align: middle;
    
}
.fb-share-button{
  margin-right:10px;
}
