<!DOCTYPE html>
<html>
<head>
<title>{{ title | trans }}</title>
{% include 'headIncludes.twig' %}

</head>
<body>
    <div class="container">
    {% include 'navbar.twig' with {'name': title} %}
    {% include 'langMenu.twig' with {'images': conf.images} %}
    <div class="page-header"><h1>{{ title | trans }}</h1></div>
    <div class="row">
        <div class="col-md-12">
        <p>{{ introduction | trans }}</p>
        </div>
    </div>
    {% include 'footer.twig' with {'conf': conf} %}
    </div>
</body>
</html>
