<div>
<ul class="nav nav-tabs" role="tablist">
  <li class="{% if name == 'LTWords' %}active{% endif %}"><a href="index"><span class="glyphicon glyphicon-home"></span></a></li>
  <li class="{% if name == 'LTNumbers' %}active{% endif %}"><a href="numbers">{{ 'LTNumbers' | trans }}</a></li>
  <li class="{% if name == 'LTNouns' %}active{% endif %}"><a href="nouns">{{ 'LTNouns' | trans }}</a></li>
  <li class="{% if name == 'About' %}active{% endif %}"><a href="about">{{ 'About' | trans }}</a></li>
  <li class="{% if name == 'Contact' %}active{% endif %}"><a href="contact">{{ 'Contact' | trans }}</a></li>
</ul>
</div>
