<div>
<ul class="nav nav-tabs" role="tablist">
  <li class="{% if name == 'index' %}active{% endif %}"><a href="index"><span class="glyphicon glyphicon-home"></span></a></li>
  <li class="{% if name == 'numbers' %}active{% endif %}"><a href="numbers">{{ 'LTNumbers' | trans }}</a></li>
  <li class="{% if name == 'nouns' %}active{% endif %}"><a href="nouns">{{ 'LTNouns' | trans }}</a></li>
</ul>
</div>
