<!DOCTYPE html>
<html>
<head><title>{{ title }}</title></head>
<body>
<h1>Search {{ name }}</h1>
<form method="post" action="search">
<input type="text" name="searchString" placeholder="Search..." /><input type="submit" value="Go!" />
</form>
</body>
</html>
